$main-background: #045866;
$mayden-font: 'Asap', 'Sans Serif';
$main-foreground: #ecfbfc;
$mayden-button-color: #8d0377;

* {
    box-sizing: border-box;
}

body {
    font-size: 62.5%;
    font-family: $mayden-font;

    main {
        background-color: $main-background;

        .col-12 {
            margin-top: 2em;
            padding: 1em;
            background-color: $main-foreground;
            font-size: 1.8em;
            color: $main-background;

            form {
                input[type="submit"] {
                    background-color: $mayden-button-color;
                    color: white;
                    margin-top: 1em;
                }
            }
        }
    }
}

